# Flask session
FLASK_SECRET_KEY=generate-a-long-random-string

# Staff login
LOGISTICS_APP_USERNAME=your_username
LOGISTICS_APP_PASSWORD=your_password

# Wialon Logistics
LOGISTICS_TOKEN=
LOGISTICS_RESOURCE_ID=28277390
